:root{
    --text: #090911;
    --background: #f5f6fa;
    --primary: #6473a3;
    --secondary: #cbacce;
    --accent: #b684a2;
    --secBackground: #e6e7ec;
    --accentShade: #cba5bc;
  }
[data-theme="dark"] {
    --text: #e5e5ec;
    --background: #171a24;
    --primary: #adb3c7;
    --secondary: #5c415f;
    --accent: #a28ca4;
    --secBackground: #20232e;
    --accentShade: #776779;
  }

html,body{
    overflow: hidden;
}

body{
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'JetBrains Mono', monospace;
}

.container{
    position: relative;
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    padding: 2em 3em;
}
.container .headerMenu{
    background-color: var(--secBackground);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
    width: 60%;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    gap: 10px;
}
.container .headerMenu div{
    width: 50%;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: ; */
}
.container .headerMenu div:hover{
    cursor: pointer;
    background-color: var(--accentShade);
    
}
.container .headerMenu div.isActive{
    background-color: var(--accent);
}

.container .clock{
    width: 63%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.clock .clockBackground{
    background-color: var(--secBackground);
    width: 100%;
    height: 150px;
    border-radius: 10px;

}
.clock .clockBackground .clockAccentFocus{
    position: relative;
    z-index: 0;
    top: -100%;
    background-color: var(--accent);
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
.clock .clockBackground .clockAccentBreak{
    position: relative;
    z-index: 0;
    top: -100%;
    background-color: var(--accentShade);
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
.clock .clockBackground .time{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
}
.clock .controls{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.clock .controls div{
    background-color: var(--secBackground);
    width: 90%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 2px solid var(--secBackground);
}
.clock .controls div:hover{
    border: 2px solid var(--accentShade);
}
.settingsBtn{
    background-color: var(--secBackground);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settingsBtn:hover{
    cursor: pointer;
    opacity: 0.7;
}
.timeSettings .exitBtn, .timeSettings .themeBtn{
    background-color: var(--secBackground);
    border-radius: 10px;
    width: 60%;
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeSettings .exitBtn:hover, .timeSettings .themeBtn:hover{
    cursor: pointer;
    opacity: 0.7;
}
.timeSettings{
    width: 700px;
    background-color: var(--background);
    height: 85%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.timeSettings .focusTime, .timeSettings .breakTime{
    border-radius: 10px;
    height: 70px;
    padding: 0 10px;
    font-size: 20px;
    width: 60%;
    border: 1px solid var(--text);
}
.timeHeading{
    font-size: 16px;
    font-weight: 400;
}
.timeSettings div{
    background-color: var(--secBackground);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.timeSettings .timeTxt{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
}
.timeControl:hover{
    cursor: pointer;
}
.timeSettings .extras{
    background-color: var(--background);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timeSettings .extras a, .timeSettings .extras p{
    color: var(--text);
    text-decoration: underline;
}
.timeSettings .extras a:hover, .timeSettings .extras p:hover{
    cursor: pointer;
}

.tasksContainer{
    position: absolute;
    width: 700px;
    height: 80%;
    background-color: var(--background);
    z-index: 2;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.tasksContainer .taskList{
    background-color: var(--secBackground);
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tasksContainer .taskList .taskElement{
    position: relative;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 5px;
}
.tasksContainer .taskList .taskElement input[type="checkbox"]{
    width: 20px;
    border-radius: 5px;
    margin-left: 10px;
    accent-color: var(--background);
    border: 1px solid var(--text);
}

.tasksContainer .taskList .taskElement div{
    position: absolute;
    width: 85%;
    background-color: var(--text);
    height: 2px;
    top: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
.tasksContainer .taskList .taskElement div.showLine{
    left: 52%;
    visibility: visible;
    transition: .1 ease;
}
.addTaskBtn{
    width: 60%;
    padding: 0 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secBackground);
    border-radius: 10px;
}
.addTaskBtn:hover{
    opacity: .7;
    cursor: pointer;
}

.addTaskContainer{
    position: absolute;
    width: 60%;
    height: 50%;
    background-color: var(--background);
    z-index: 2;
    top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    place-items: center;
}
.span2{
    grid-column: span 2;
}
.addTaskContainer input[type="text"]{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0 10px;
    background-color: var(--secBackground);
    color: var(--text);
}
.addTaskContainer .addTaskBtn{
    width: 70%;
}

@media screen and (max-width: 500px){
    .container{
        width: 550px;
    }
    .tasksContainer{
        width: 550px;
    }
    .timeSettings{
        width: 550px;
    }
}